footer {
  font-family: $fontStyle;
  width: 100vw;
  height: 160px;
  background: $colorMain_white;
  .footer_inner {
    @include displayFlex(row, space-between);
    width: 80%;
    height: 100%;
    margin: 0 auto;
    .footer_inner_contact {
      @include displayFlex(column, center, flex-start);
      width: 30%;
      height: 100%;
      color: black;
      .footer_inner_contact_titleEN {
        font-size: $fontSize_titleEN;
        line-height: $fontSize_titleEN * 1.5;
        font-weight: 600;
        color: $colorMain_blue;
        margin-bottom: 10px;
      }
      .footer_inner_contact_titleTC{
        font-size: $fontSize_content;
        font-weight:600;
        margin-bottom:15px;
      }
      .footer_inner_contact_emailButton{
        width:80%;
        input{
          border:1px solid black;
          width:100%;
          padding:10px;
          background:none;
        }
      }
    }
    .footer_inner_link {
      @include displayFlex(row);
      width: 70%;
      height: 100%;
      background: $colorMain_white;
      .footer_inner_link_logo {
        @include displayFlex(row);
        width: 40%;
        .footer_inner_link_logo_1 {
          font-size: $fontSize_logo/1.4;
          font-weight: 600;
          color: $colorMain_blue;
        }
        .footer_inner_link_logo_2 {
          font-size: 3px;
          font-weight: 600;
          color: $colorMain_black;
          margin-left: 5px;
        }
      }
      .footer_inner_link_content {
        width: 60%;
        font-size: $fontSize_content;
      }
    }
  }
}
