footer {
    font-family: $fontStyle;
    width: 100vw;
    height: 80px;
    background:red;
    .footer_inner {
      @include displayFlex(row, space-between);
      width: 80%;
      height:100%;
      margin:0 auto;
    }
}