article {
  width: 100vw;
  .article_inner {
    position: relative;
    .home_area1 {
      @include displayFlex(row, space-between);
      position:relative;
      width: 80%;
      margin: 0 auto;
      padding: 80px 0;
      .home_area1_imgBx {
        @include displayFlex();
        position: relative;
        width: 50%;
        opacity: 0.8;
        clip-path: polygon(
          0 0,
          30% 0,
          30% 25%,
          65% 0,
          100% 0,
          61% 46%,
          100% 100%,
          100% 100%,
          65% 100%,
          30% 75%,
          30% 100%,
          0 100%
        );
        border-radius: 5px;
        img {
          width: 100%;
          border-radius:5px;
        }
      }
      .home_area1_content {
        font-family: $fontStyle;
        width: 50%;
        padding: 50px;
        // background:red;
        .home_area1_content_titleEN {
          font-size: $fontSize_titleEN;
          line-height: $fontSize_titleEN * 1.5;
          font-weight: 600;
          color: $colorMain_blue;
          margin-bottom: 15px;
        }
        .home_area1_content_titleTC {
          font-size: $fontSize_titleTC;
          line-height: $fontSize_titleTC * 1.5;
          font-weight: 600;
          color: $colorMain_black;
          margin-bottom: 40px;
        }
        .home_area1_content_details {
          letter-spacing: 0.8px;
          p {
            margin-bottom: 20px;
            line-height: $fontSize_content * 1.5;
          }
        }
      }
    }
    .home_bg {
      @include displayFlex(row,flex-end);
      position: relative;
      margin:0 auto;
      padding:25px;
      text-align:right;
      color:$colorMain_black;
      font-family: $fontStyle;
      font-size:20px;
      font-weight:600;
      // opacity: 0.8;
      line-height: 30px;
      width: 65%;
      height: 100px;
      z-index: -1;
      border-radius:5px;
      transform:translateY(-120px);
      background:$colorMain_white;
    }
  }
}
